<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Assignment Calculator</title>
    <meta name="description" content="Assignment Calculator">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.css">
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("z_LAKkqo4xiHbzP2_");
        })();
    </script>
</head>

<body>
    <div id="app">
        <a href="articleReviewVi.html">
            <img src="https://i.pinimg.com/736x/98/9b/9c/989b9c38c26172c25bd2dca461340deb.jpg" alt="Icon Description" alt="Top Right Icon" style="float: right; width: 2rem; height: 2rem;">
        </a>
        <b-jumbotron>
            <div class="row align-items-between justify-content-around">
                <!-- Logo on the left -->
                <div class="col-auto" style="width: 20rem; margin-bottom: 2rem;">
                    <img src="resource/vinuni_logo.webp" alt="VinUni Logo" style="width: max(10rem, min(20vw, 15rem));">
                </div>
        
                <div>
                    <div class="col text-center ml-auto">
                        <h2>Stay <span class="highlight1">Ahead</span>, Stay <span class="highlight1">Organized</span> with our</h2>
                        <h1>Assignment Calculator</h1>
                        <h2>Your Roadmap to <span class="highlight1">A+</span> grades!</h2>
                    </div>
                </div> 
                <!-- <div class="col-auto" style="width: 20rem"></div> -->
            </div>
        </b-jumbotron>
              

        <div class="return-section">
            <a href="Assignment-planner.html" style="color: white">
                ⬅ Return to assignment planner
            </a>
        </div>
        <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-green dark-green mb5">
            <h2 class="fw2 f4 f3-ns lh-title mt0 mb3">
             ARTICLE REVIEW
            </h2>
  
            <p class="fw1 f5 mt0 mb3">
             An article review involves summarizing the article's important points, identifying its primary arguments, evaluating the methodology, and considering the significance of the work about the topic of study. An article review should also offer suggestions for improvement and give a thoughtful assessment of the article's advantages and disadvantages. 
             This assignment encourages learners to connect with current research and add to the academic conversation in their chosen fields while also expanding their comprehension of the subject topic.                
            </p>
          </article> 
        <b-container class="bv-example-row">
            <b-row>
                <b-col>
                    <template>
                        <div class="form">
                            <b-form-group 
                                :state="beginDateValid"
                                invalid-feedback="Please enter a begin date."
                            >
                                <label for="example-datepicker">Begin date:</label>
                                <b-form-datepicker 
                                    id="begin-datepicker" 
                                    v-model="tempFromDate"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col><template>
                        <div class="form">
                            <b-form-group
                                :state="dueDateValid"
                                :invalid-feedback="dueDateFeedback"
                            >
                                <label for="example-datepicker">Due date:</label>
                                <b-form-datepicker 
                                    id="due-datepicker" 
                                    v-model="tempToDate"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col> 
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <b-button 
                            @click="toggle" 
                            block variant="primary" 
                            class="btn-primary"
                        >
                            Generate Schedule 
                            <b-icon icon="arrow-down-circle-fill" aria-hidden="true"></b-icon>
                        </b-button>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <div class="form">  
                    <label>Save your assignment:</label>
                    <button onclick="window.print()">Print now</button>
                </div>
            </b-row>
        </b-container>
        <template v-if="isDatescategory()">
            <div class="alert-container">
                <b-alert show dismissible fade>
                    Success! You have <span class="highlight1">{{ calcTotalDays() }} days</span> to finish your assignment.
                </b-alert>
            </div>
            <steps v-bind:stepobject='articleReview1'></steps>
            <steps v-bind:stepobject='articleReview2'></steps>
            <steps v-bind:stepobject='articleReview3'></steps>
            <steps v-bind:stepobject='articleReview4'></steps>
            <steps v-bind:stepobject='articleReview5'></steps>
            <a class="f6 link dim br-pill ba ph3 pv2 mb2 dib light-purple" href="#top">Back to top ^</a>
        </template> 
        
        <div id="to-print">
            <template v-if="isDatescategory()">
                <printing-steps v-bind:stepobject='articleReview1'></printing-steps>
                <printing-steps v-bind:stepobject='articleReview2'></printing-steps>
                <printing-steps v-bind:stepobject='articleReview3'></printing-steps>
                <printing-steps v-bind:stepobject='articleReview4'></printing-steps>
                <printing-steps v-bind:stepobject='articleReview5'></printing-steps>
            </template> 
        </div>
        <script src="//unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue-icons.js"></script>
        <script src="index.js"></script>
</body>

</html>