<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Assignment Calculator</title>
    <meta name="description" content="Assignment Calculator">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.css">
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("z_LAKkqo4xiHbzP2_");
        })();
    </script>
</head>

<body>
    <div id="app">
        <a href="businessCaseStudy.html">
            <img src="resource/US-icon.png" alt="Icon Description" alt="Top Right Icon" style="float: right; width: 2rem; height: 2rem;">
        </a>
        <b-jumbotron>
            <div class="row align-items-between justify-content-around">
                <!-- Logo on the left -->
                <div class="col-auto" style="width: 20rem; margin-bottom: 2rem;">
                    <img src="resource/vinuni_logo.webp" alt="VinUni Logo" style="width: max(10rem, min(20vw, 15rem));">
                </div>
        
                <div>
                    <div class="col text-center ml-auto">
                        <h2><span class="highlight1">Làm chủ</span> mọi bài tập của bạn với</h2>
                        <h1>Assignment Calculator</h1>
                        <h2>Từng bước chinh phục <span class="highlight1">điểm số</span> <span class="highlight1">A+</span></h2>
                    </div>
                </div>  
                <!-- <div class="col-auto" style="width: 20rem"></div> -->
            </div>
        </b-jumbotron>
              

        <div class="section">
            <a href="Assignment-planner-vi.html" style="color: white">
                ⬅ Quay lại trang trước
            </a>
        </div>
        <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-green dark-green mb5">
            <h2 class="fw2 f4 f3-ns lh-title mt0 mb3">
             BUSINESS CASE STUDY
            </h2>
  
            <p class="fw1 f5 mt0 mb3">
             A business case study involves actual business scenarios or fictional representations of business situations or challenges. These studies empower students to thoroughly examine diverse business issues from different viewpoints, applying the critical thinking and problem-solving skills cultivated in the classroom. Through business case studies, complex business theories and frameworks can be simplified, illustrating their practical applications. 
            </p>
        </article> 
        <b-container class="bv-example-row">
            <b-row>
                <b-col>
                    <template>
                        <div class="form">
                            <b-form-group 
                                :state="beginDateValid"
                                invalid-feedback="Please enter a begin date."
                            >
                                <label for="example-datepicker">Ngày bắt đầu:</label>
                                <b-form-datepicker 
                                    id="begin-datepicker" 
                                    v-model="tempFromDate"
                                    locale="vi-VN"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col><template>
                        <div class="form">
                            <b-form-group
                                :state="dueDateValid"
                                :invalid-feedback="dueDateFeedback"
                            >
                                <label for="example-datepicker">Hạn nộp bài:</label>
                                <b-form-datepicker 
                                    id="due-datepicker" 
                                    v-model="tempToDate"
                                    locale="vi-VN"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col> 
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <b-button 
                            @click="toggle" 
                            block variant="primary" 
                            class="btn-primary"
                        >
                            Lên kế hoạch
                            <b-icon icon="arrow-down-circle-fill" aria-hidden="true"></b-icon>
                        </b-button>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <div class="alert-container">
            <b-alert show dismissible fade>
                Thành công! Bạn còn <span class="highlight1">{{ calcTotalDays() }} ngày</span> để hoàn thành bài tập.
            </b-alert>
        </div>
        <template v-if="isDatescategory()">
            <steps v-bind:stepobject='businessCaseStudy1'></steps>
            <steps v-bind:stepobject='businessCaseStudy2'></steps>
            <steps v-bind:stepobject='businessCaseStudy3'></steps>
            <steps v-bind:stepobject='businessCaseStudy4'></steps>
            <steps v-bind:stepobject='businessCaseStudy5'></steps>
            <steps v-bind:stepobject='businessCaseStudy6'></steps>
            <steps v-bind:stepobject='businessCaseStudy7'></steps>
            <steps v-bind:stepobject='businessCaseStudy8'></steps>
            <a class="f6 link dim br-pill ba ph3 pv2 mb2 dib light-purple" href="#top">Quay lên đầu ^</a>
        </template> 

        <script src="//unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue-icons.js"></script>
        <script>
            // STEPS CONTENT IN JSON OBJECT FORMAT
            var businessCaseStudy1 = {
                step: '1',
                heading: 'Get started',
                todos: '<div class="content"> \
                <p><strong>A. Understanding your assignment</strong></p>\
                <p>Typically, university assignments require you to showcase your grasp of specific topics within the scope of your course. Case study assignments tend to be complicated, requiring careful attention to the given instructions. Failure to adhere to the task requirements may result in a lower grade, irrespective of the quality of your writing. \
                If you must select from various questions, topics, or cases, conducting preliminary reading (e.g., from your textbook) can assist you in making informed decisions at this stage. Access the “Understanding the Assignment” for further clarification. </p> \
                <p><strong>B. Get to know components of a business case study report</strong></p>\
                <p>Understanding which parts are included in a business case study report would help you to have a great big picture of what exactly you need to work on. Have a look at this Case Study Structure Sample and Case Study Report Sample.</p> \
                <p><strong>C. Group Work (if this is a group assignment)</strong></p>\
                <p>For group work, you should also arrange tasks and plan the timeline for the whole project at this time. </p>\
                </div>',
                percentage: '5',
                truePercent: '5'
            }

            var businessCaseStudy2 = {
                step: '2',
                heading: 'Brainstorming ideas and starting to examine the case',
                todos: '<div class="content"> \
                <p>Thoroughly review the case, preferably more than once, and take note of any queries or information gaps. If specific questions are provided for your response, create initial notes for each question based on the case details.</p>\
                <p>Construct a visual representation, such as a mind map, encompassing your knowledge about the subject and the focal points relevant to your case. Online tools like MindMup or Bubbl.us (compatible with Chrome, Firefox, or Safari) can assist in this process.\
                Explore connections between the case and pertinent concepts or theories covered in your coursework. Give special consideration to any concepts or theories highlighted in your assignment instructions. Additionally, consider the alignment between the case and readings from your course materials. </p>\
                <p>Review your mind map to identify any notable gaps in key areas. This strategic approach will guide your subsequent research phase, ensuring that you direct your efforts toward relevant information and avoid wasting time on irrelevant aspects.</p>\
                </div>',
                percentage: '15',
                truePercent: '10'
            }

            var businessCaseStudy3 = {
                step: '3',
                heading: 'Researching on the subject/topic of the case study',
                todos: '<div class="content"> \
                <p>Should the case study pertain to an actual company, collecting data from the company\'s websites, financial records, and an extensive online search can offer deeper insights into the company\'s historical and current status, the industry it operates in, its primary competitors, and other pertinent details.</p>\
                <p>Utilizing information from course textbooks, academic journals, and books aids in gaining a more profound understanding of the issue at hand, facilitating a thorough analysis and the formulation of well-founded recommendations.\
                While research may be time-consuming, incorporating reliable references enhances the report\'s credibility, underscoring the diligence and thoroughness of your investigation. </p>\
                <p>The followings are types of sources that you can concentrate on: </p>\
                <ul>\
                <li>Company website</li>\
                <li>Company financial documents</li>\
                <li>Broader web search (e.g., industry, competitors)</li>\
                <li>Course textbooks</li>\
                <li>Academic journals and books</li>\
                </ul>\
                </div>',
                percentage: '25',
                truePercent: '10'
            }

            var businessCaseStudy4 = {
                step: '4',
                heading: 'Develop your case study structure - Organize your sources',
                todos: '<div class="content"> \
                <p>Refer to your assignment requirements to determine whether a specific format is mandated for your assignment. For instance, you may have been instructed to employ specific headings for organizing your response. \
                Strategize the content for each section by outlining your main points, considering supporting evidence, deciding on the order of presentation, and formulating topic sentences to begin the drafting of your paragraphs.</p>\
                <p>Organize all the sources you have researched so far and decide which sources will be cited in which parts of your case study report. </p>\
                </div>',
                percentage: '35',
                truePercent: '10'
            }

            var businessCaseStudy5 = {
                step: '5',
                heading: 'Writing your first draft',
                todos: '<div class="content"> \
                <p>Draft a paragraph for each main idea, providing an explanation and supporting evidence for each point. It may be necessary to extend beyond a single paragraph for each section of the case study but remember to maintain a singular main idea in each paragraph. Subsequently, craft an introduction and a concluding section, potentially including recommendations based on the guidelines in your assignment instructions. \
                Make sure that ideas drawn from your sources are all cited, and their citations are included in your reference list (if a specific referencing style is required in your assignment, make sure you apply it to all the sources). Further guidance for citations is available on VinUni Library\'s LibGuides.</p>\
                <p>In the context of group work, when collaboratively producing content, you should offer constructive feedback to one another. Strive to provide encouragement while also suggesting areas for improvement. \
                Foster a collaborative and supportive environment within the group to enhance the overall quality of the work.</p>\
                <p>Here is a detail instruction on how to write each section of a business case study report.</p>\
                </div>',
                percentage: '70',
                truePercent: '35'
            }
            
            var businessCaseStudy6 = {
                step: '6',
                heading: 'Reviewing and revising',
                todos: '<div class="content"> \
                <p><strong>A. Self-evaluating and proofreading</strong></p>\
                <p>Review your case study report and revise the content as needed. Assess the coherence of your argument—ensure clarity and logical flow in your explanations. Self-evaluate your work and reflect your work with the rubrics/marking criteria (if available) to see whether it fulfill all the requirements and expectations.\
                You might want to refer to a checklist for your content and a checklist for overall formatting of your case study report. Once prepared, submit your draft to Turnitin, if permitted by your institution (refer to your instructors for confirmation). </p> \
                <p><strong>B. Peer review & Advisor feedback</strong></p>\
                <p>Seeking feedback and suggestions from your advisors, instructors, and colleagues can be highly beneficial. Engaging with diverse perspectives not only enriches your understanding but also enhances the objectivity of your report. Their insights can offer valuable perspectives that might have been overlooked, contributing to a more comprehensive and well-rounded analysis. </p> \
                </div>',
                percentage: '90',
                truePercent: '20'
            }

            var businessCaseStudy7 = {
                step: '7',
                heading: 'Finalizing your business case study',
                todos: '<div class="content"> \
                <p>Upon receiving feedback, be selective in choosing recommendations that align with the goals of your report. Focus on rewriting specific sections that require adjustments, ensuring clarity and coherence. Additionally, address any identified grammatical, spelling, or punctuation errors to enhance the overall quality of your report. The aim is to refine and improve the content based on constructive feedback, prioritizing changes that contribute to the report\'s effectiveness. </p>\
                </div>',
                percentage: '95',
                truePercent: '5'
            }

            var businessCaseStudy8 = {
                step: '8',
                heading: 'Submitting your work',
                todos: '<div class="content"> \
                <p>Ensure that your final version is saved properly and ready to submit. Submitting your work a few hours before the deadline is advisable, as you will have additional time to address any potential technical issues that may suddenly arise. </p>\
                <p>For group submissions, make sure you understand the submission process for your group assignment. Determine whether the entire group submits it collectively or if only one person is designated to submit. Clearly establish and communicate the responsibility for submission within your group.</p>\
                <p>After submitting your business case study, take a moment to celebrate and reward yourself (or with your group) for completing the task! </p>\
                </div>',
                percentage: '95',
                truePercent: '5'
            }

            // TEMPLATE for <steps>
            var Step = {
                props: ['stepobject'],

                computed: {

                    calcDueDate: function () {
                        // initialize dates.  must use suffix to include my timezone GMT-5
                        var ISOsuffix = 'T00:00:00.000-05:00';
                        var fromDateObject = new Date(vm.fromDate + ISOsuffix);
                        var toDateObject = new Date(vm.toDate + ISOsuffix);
                        var daysBetween = this.diffDays(fromDateObject, toDateObject);
                        var numDays = this.calcNumDays(daysBetween, this.stepobject.percentage);
                        var dueDate = this.nextDueDate(fromDateObject, numDays);

                        // Format date to Vietnamese locale
                        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                        var formatter = new Intl.DateTimeFormat('vi-VN', options);
                        return formatter.format(new Date(dueDate));

                        return dueDate_String;
                    },
                    collapseId: function() {
                        return 'collapse-' + this.stepobject.step; // Generates a unique ID using the step number
                    }
                },

                methods: {
                    // calculate number of days between both dates
                    diffDays: function (fromDate, toDate) {
                        var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
                        return Math.round(Math.abs((fromDate.getTime() - toDate.getTime()) / (oneDay)));
                    },

                    // will calculate number of days based off percentage.  This number will be used to add to fromDate to make dueDate
                    calcNumDays: function (diffDays, percentage) {
                        return (Math.floor(diffDays * percentage * 0.01)); // using floor to round down since it's an off by 1 (Nov 1 + 3 days = Nov 3?)
                    },

                    // input fromDate, and numberofDaysToAdd, will output duedate in string format.  This will be used to show when each step is due.
                    nextDueDate: function (fromDate, numDays) {
                        var ISOsuffix = 'T00:00:00.000-05:00';
                        var dueDate = new Date(vm.fromDate + ISOsuffix); // this will be a varying calculated value for each step
                        dueDate.setDate(fromDate.getDate() + numDays);
                        return dueDate.toDateString();
                    },
                },
                
                template: `<b-container class="steps">\
                <b-row>\
                    <b-col>\
                        <b-button block v-b-toggle="'collapse-' + stepobject.step" size="lg" class="m-1"><b>Bước {{ stepobject.step }}: {{ stepobject.heading }}.</b> <span class="float-right">Hoàn thành vào {{ calcDueDate }}</span></b-button>\
                        <b-collapse invisible :id="'collapse-' + stepobject.step">\
                            <b-card>\
                                <b-card-text>\
                                    <p><b> (Phần trăm thời gian cho bước này: {{ stepobject.truePercent}}%) </b></p>\
                                    <p v-html="stepobject.todos"> </p>\
                                </b-card-text>\
                                <!-- <b-button variant="outline-info">\
                                    <h5>Video: Taming your research topic <b-icon icon="hand-index"\
                                            aria-hidden="true"></b-icon>\
                                    </h5>\
                                </b-button>\ -->\
                            </b-card>\
                        </b-collapse>\
                    </b-col>\
                </b-row>\
            </b-container>`

            
            };

            var vm = new Vue({
                el: '#app',
                data: {
                    tempFromDate: '',
                    tempToDate: '',
                    fromDate: '',
                    toDate: '',
                    picked: '',
                    stepobject: '',  // will be determined in the HTML <steps v-bind...>
                    name: '',
                    show: false,
                    blank: '',
                    value: '',
                    context: null,
                    suffix : 'T00:00:00.000-05:00',
                    totalDays: 0,
                    assignmentName: '',
                    assignmentNameValid: null,
                    beginDateValid: null,
                    dueDateValid: null,
                    assignmentTypeValid : null,
                },
                mounted() {
                    this.fromDate = this.getToday();
                    this.toDate = this.getTodayNextMonth();
                    this.tempFromDate = this.getToday();
                    this.tempToDate = this.getTodayNextMonth();
                },
                
                computed: {
                    dueDateFeedback() {
                        if (this.toDate == '') {
                            return "Làm ơn chọn hạn nộp bài.";
                        }
                        if (this.toDate <= this.fromDate) {
                            return "Hạn nộp bài phải trễ hơn ngày bắt đầu.";
                        }
                        return null;
                    },
                },
                methods: {
                    getToday() {
                        const date = new Date();
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                        const day = String(date.getDate()).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    },
                    getTodayNextMonth() {
                        const date = new Date();
                        date.setDate(date.getDate() + 31);
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                        const day = String(date.getDate()).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    },
                    isDatescategory: function () {
                        // check to make sure both date fields are filled and in chronological order
                        if (this.fromDate !== '' && this.toDate !== '' && vm.toDate >= vm.fromDate) {
                            return true;
                        } else {
                            return false;
                        }
                    },
                    isAssignment: function(assignmentType) {
                        if (this.picked==assignmentType) {
                            return true;
                        } else {
                            return false;
                        }
                    },
                    calcTotalDays: function(){
                        if (this.fromDate !== '' && this.toDate !== '' && vm.toDate > vm.fromDate){
                            var fromDateObject = new Date(vm.fromDate + this.suffix);
                            var toDateObject = new Date(vm.toDate + this.suffix);
                            var oneDay = 24 * 60 * 60 * 1000;
                            return Math.round(Math.abs((fromDateObject.getTime() - toDateObject.getTime()) / (oneDay)));
                        }
                        else{
                            return 0;
                        }
                    },
                    sendEmail() {
                        var params = {
                            assignmentName: document.getElementById('assignmentName').value,
                            emailTo: document.getElementById('emailTo').value,
                        };

                        const serviceID = "service_5r78bbg";
                        const templateID = "template_ftc406h";

                        emailjs.send(serviceID, templateID, params).then(
                            (res) => {
                                document.getElementById('assignmentName').value = "";
                                document.getElementById('emailTo').value = "";
                                console.log(res);
                                alert("Email sent successfully");
                            })
                        .catch((err) => {
                            console.log(err);
                            alert("Error sending email");
                        })
                    },
                    pickAssignment(assignmentType) {
                        console.log('pick', assignmentType)
                        this.picked = assignmentType
                    },
                    validateAssignmentName() {
                        this.assignmentNameValid = this.assignmentName !== '';
                    },
                    toggle() {
                        console.log('Toggle button clicked')
                        this.fromDate = this.tempFromDate
                        this.toDate = this.tempToDate
                        if (this.fromDate > this.toDate) {
                            this.dueDateValid = false;
                        }
                        this.show = !this.show
                    },
                    dismissed() {
                        console.log('Alert dismissed')
                    },
                    onContext(ctx) {
                        this.context = ctx
                    }
                },

                components: {
                    'steps': Step
                }
            });


        </script>
</body>

</html>