<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Assignment Calculator</title>
    <meta name="description" content="Assignment Calculator">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.css">
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("z_LAKkqo4xiHbzP2_");
        })();
    </script>
</head>

<body>
    <div id="app">
        <a href="labReport.html">
            <img src="resource/US-icon.png" alt="Icon Description" alt="Top Right Icon" style="float: right; width: 2rem; height: 2rem;">
        </a>
        <b-jumbotron>
            <div class="row align-items-between justify-content-around">
                <!-- Logo on the left -->
                <div class="col-auto" style="width: 20rem; margin-bottom: 2rem;">
                    <img src="resource/vinuni_logo.webp" alt="VinUni Logo" style="width: max(10rem, min(20vw, 15rem));">
                </div>
        
                <div>
                    <div class="col text-center ml-auto">
                        <h2><span class="highlight1">Làm chủ</span> mọi bài tập của bạn với</h2>
                        <h1>Assignment Calculator</h1>
                        <h2>Từng bước chinh phục <span class="highlight1">điểm số</span> <span class="highlight1">A+</span></h2>
                    </div>
                </div>  
                <!-- <div class="col-auto" style="width: 20rem"></div> -->
            </div>
        </b-jumbotron>
              

        <div class="return-section">
            <a href="Assignment-planner-vi.html" style="color: white">
                ⬅ Quay lại trang trước
            </a>
        </div>
        <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-green dark-green mb5">
            <h2 class="fw2 f4 f3-ns lh-title mt0 mb3">
             LAB REPORT
            </h2>
  
            <p class="fw1 f5 mt0 mb3">
             Laboratory experiments offer the opportunity to witness scientific principles in practical application and hone your research skills. A lab report serves as an official documentation of an experiment, with the level of detail necessary to enable replication by others. If you're studying in the field of science, you'll discover that lab reports are a widely used means to communicate and disseminate your scientific insights.
            </p>
          </article>
        <b-container class="bv-example-row">
            <b-row>
                <b-col>
                    <template>
                        <div class="form">
                            <b-form-group 
                                :state="beginDateValid"
                                invalid-feedback="Please enter a begin date."
                            >
                                <label for="example-datepicker">Ngày bắt đầu:</label>
                                <b-form-datepicker 
                                    id="begin-datepicker" 
                                    v-model="tempFromDate"
                                    locale="vi-VN"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col><template>
                        <div class="form">
                            <b-form-group
                                :state="dueDateValid"
                                :invalid-feedback="dueDateFeedbackVi"
                            >
                                <label for="example-datepicker">Hạn nộp bài:</label>
                                <b-form-datepicker 
                                    id="due-datepicker" 
                                    v-model="tempToDate"
                                    locale="vi-VN"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col> 
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <b-button 
                            @click="toggle" 
                            block variant="primary" 
                            class="btn-primary"
                        >
                            Lên kế hoạch
                            <b-icon icon="arrow-down-circle-fill" aria-hidden="true"></b-icon>
                        </b-button>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <div class="form">  
                    <label>Lưu bài tập của bạn:</label>
                    <button onclick="window.print()">In ngay</button>
                </div>
            </b-row>
        </b-container>
        <template v-if="isDatescategory()">
            <div class="alert-container">
                <b-alert show dismissible fade>
                    Thành công! Bạn còn <span class="highlight1">{{ calcTotalDays() }} ngày</span> để hoàn thành bài tập.
                </b-alert>
            </div>
            <steps-vi v-bind:stepobject='labReportVi1'></steps-vi>
            <steps-vi v-bind:stepobject='labReportVi2'></steps-vi>
            <steps-vi v-bind:stepobject='labReportVi3'></steps-vi>
            <steps-vi v-bind:stepobject='labReportVi4'></steps-vi>
            <steps-vi v-bind:stepobject='labReportVi5'></steps-vi>
            <steps-vi v-bind:stepobject='labReportVi6'></steps-vi>
            <steps-vi v-bind:stepobject='labReportVi7'></steps-vi>
            <steps-vi v-bind:stepobject='labReportVi8'></steps-vi>
        </template> 
        <div id="to-print">
            <template v-if="isDatescategory()">
                <printing-steps-vi v-bind:stepobject='labReportVi1'></printing-steps-vi>
                <printing-steps-vi v-bind:stepobject='labReportVi2'></printing-steps-vi>
                <printing-steps-vi v-bind:stepobject='labReportVi3'></printing-steps-vi>
                <printing-steps-vi v-bind:stepobject='labReportVi4'></printing-steps-vi>
                <printing-steps-vi v-bind:stepobject='labReportVi5'></printing-steps-vi>
                <printing-steps-vi v-bind:stepobject='labReportVi6'></printing-steps-vi>
                <printing-steps-vi v-bind:stepobject='labReportVi7'></printing-steps-vi>
                <printing-steps-vi v-bind:stepobject='labReportVi8'></printing-steps-vi>
            </template> 
        </div>
        <a class="f6 link dim br-pill ba ph3 pv2 mb2 dib light-purple" href="#top">Quay lên đầu ^</a>
        <script src="//unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue-icons.js"></script>
        <script src="index.js"></script>
</body>

</html>