<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Assignment Calculator</title>
    <meta name="description" content="Assignment Calculator">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.css">
    <style>
        body {
            text-align: center;
            font-family: 'Montserrat';
        }

        .highlight1 {
            color: red;
            white-space: nowrap;
        }

        h1 {
            font-size: 4rem;
            font-family: 'Titan One';
            margin-bottom: 2rem;
            color: rgb(61, 81, 131);
        }

        .section {
            background: rgb(61, 81, 131);
            font-size: 1rem;
            color: white;
            padding: 20px;
            margin: 0 0 3rem;
            text-align: left;
        }

        .form {
            text-align: left;

            >.form-group label {
                font-size: 1.1rem;
            }
        }

        .content {
            text-align: left;
        }

        div.card {
            .card-body {
                text-align: center;
                padding: 1.25rem;
            }

            >img {
                width: 80%;
                margin: 20px auto 0;
            }
        }

        .btn-primary {
            font-size: 1.5rem;
            font-weight: 600;
            width: 400px;
            margin: 20px 20px;
            padding: 15px;
        }

        .jumbotron {
            margin-bottom: 0;
        }

        .card-deck {
            >button {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                padding: 1rem 2rem;
                border-radius: 1rem;
                margin: 0.5rem;
                width: 11%;
                min-width: 100px;

                >img {
                    width: 100px;
                }

                >h5 {
                    margin: 0.5rem 0 0;
                    font-weight: bold;
                    font-size: 0.8rem;
                }
            }
        }

        .alert-info {
            background-color: rgb(218, 236, 220);
            font-size: 1.2rem;
        }

        .alert-container {
            display: flex;
            justify-content: center; /* Centers the alert horizontally */
            align-items: center; /* Centers the alert vertically, if needed */
            text-align: center; /* Centers the text within the alert */
        }

        .steps {
            margin-bottom: 10px;
            .container {
                margin-bottom: 10px;
            }
            >.row {
                .col>button {
                    background-color: rgb(61, 81, 131);
                    text-align: left;
                }
            }
        }

        .container {
            margin-bottom: 10px;
        }
        .bv-example-row {
            max-width: 1440px;
            .input-button-group {
                display: flex; /* This will enable flexbox */
                align-items: center; /* This will vertically center align the items */
                gap: 10px; /* This adds space between the input and the buttons */
            }
        }
    </style>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("z_LAKkqo4xiHbzP2_");
        })();
    </script>
</head>

<body>
    <div id="app">
        <a href="podcastVi.html">
            <img src="https://i.pinimg.com/736x/98/9b/9c/989b9c38c26172c25bd2dca461340deb.jpg" alt="Icon Description" alt="Top Right Icon" style="float: right; width: 2rem; height: 2rem;">
        </a>
        <b-jumbotron>
            <div class="row align-items-between justify-content-around">
                <!-- Logo on the left -->
                <div class="col-auto" style="width: 20rem; margin-bottom: 2rem;">
                    <img src="resource/vinuni_logo.webp" alt="VinUni Logo" style="width: max(10rem, min(20vw, 15rem));">
                </div>
        
                <div>
                    <div class="col text-center ml-auto">
                        <h2>Stay <span class="highlight1">Ahead</span>, Stay <span class="highlight1">Organized</span> with our</h2>
                        <h1>Assignment Calculator</h1>
                        <h2>Your Roadmap to <span class="highlight1">A+</span> grades!</h2>
                    </div>
                </div>
                <!-- <div class="col-auto" style="width: 20rem"></div> -->
            </div>
        </b-jumbotron>
              

        <div class="section">
            <a href="Assignment-planner.html" style="color: white">
                ⬅ Return to assignment planner
            </a>
        </div>
        <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-green dark-green mb5">
            <h2 class="fw2 f4 f3-ns lh-title mt0 mb3">
             PODCAST
            </h2>
  
            <p class="fw1 f5 mt0 mb3">
             Podcasting is an audio series covering a variety of themes, from academic talks to storytelling and interviews. Podcasting extends beyond the conventional written format. It allows podcast makers or students to go further into their chosen subjects using spoken word, improving their communication abilities and building a stronger bond with the listeners. Researching, writing, producing, and editing a piece of work not only sharpens academic skills but also fosters creativity and flexibility. Additionally, podcasts have a wider audience outside of the classroom, allowing podcast makers to meaningfully participate in public conversation and share their knowledge with a wider audience. 
            </p>
          </article> 
        <b-container class="bv-example-row">
            <b-row>
                <b-col>
                    <template>
                        <div class="form">
                            <b-form-group 
                                :state="beginDateValid"
                                invalid-feedback="Please enter a begin date."
                            >
                                <label for="example-datepicker">Begin date:</label>
                                <b-form-datepicker 
                                    id="begin-datepicker" 
                                    v-model="tempFromDate"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col><template>
                        <div class="form">
                            <b-form-group
                                :state="dueDateValid"
                                :invalid-feedback="dueDateFeedback"
                            >
                                <label for="example-datepicker">Due date:</label>
                                <b-form-datepicker 
                                    id="due-datepicker" 
                                    v-model="tempToDate"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col> 
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <b-button 
                            @click="toggle" 
                            block variant="primary" 
                            class="btn-primary"
                        >
                            Generate Schedule 
                            <b-icon icon="arrow-down-circle-fill" aria-hidden="true"></b-icon>
                        </b-button>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <div class="alert-container">
            <b-alert show dismissible fade>
                Success! You have <span class="highlight1">{{ calcTotalDays() }} days</span> to finish your assignment.
            </b-alert>
        </div>
        <template v-if="isDatescategory()">
            <steps v-bind:stepobject='podcast1'></steps>
            <steps v-bind:stepobject='podcast2'></steps>
            <steps v-bind:stepobject='podcast3'></steps>
            <steps v-bind:stepobject='podcast4'></steps>
            <steps v-bind:stepobject='podcast5'></steps>
            <a class="f6 link dim br-pill ba ph3 pv2 mb2 dib light-purple" href="#top">Back to top ^</a>
        </template> 

        <script src="//unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue-icons.js"></script>
        <script>
            // STEPS CONTENT IN JSON OBJECT FORMAT
            var podcast1 = {
                step: '1',
                heading: 'Getting started',
                todos: '<div class="content"> \
                <p><strong>A. Understand the assignment</strong></p>\
                <p>Take your time reading the instructions carefully and make sure you understand all the requirements, including the topic, design, length, and deadline, etc. Never hesitate to ask your instructor for clarification if something is unclear. \
                To efficiently organize your time, break the assignment down into smaller activities and make a detailed timeline. For more information, please visit Understand Your Assignment. </p> \
                <p><strong>B. Consider your audience</strong></p>\
                <p>Be succinct if your audience comprises industry professionals. You are able to immediately get into the in-depth details of your research when presenting in your field because you will not have to define all technical terms or go over the basics. </p> \
                <p>If your target audience is non-specialists, more background information is needed. Describe any technical terminology then emphasize the significance of your research. </p> \
                </div>',
                percentage: '10',
                truePercent: '10'
            }

            var podcast2 = {
                step: '2',
                heading: 'Research and Prepare',
                todos: '<div class="content"> \
                <p><strong>A. Conduct research</strong></p>\
                <p>Choose a research subject or topic that interests you and meets the requirements of the assignment.  Do preliminary research to compile background data and evaluate whether reliable sources are accessible.\
                Narrow down your topics (here are some Strategies for Narrowing the Research Topic. ) and then start gathering data by using reliable search tools, academic databases, and libraries to find sources that are applicable to your subject of study. \
                <p>Consider the author\'s credentials, the source\'s reputation, and the source\'s publication date when evaluating sources. Books from credible publishers, government publications, and peer-reviewed journals are frequently reliable resources. \
                Assess the source\'s approach and supporting data carefully as well to judge its quality and applicability to your research. You can create a well-supported and well-rounded research essay by cross-referencing data with several sources and being critical of biases or conflicts of interest. </p>\
                <p>RADAR test can be used to evaluate the sources.\
                <p><strong>B Choosing a format</strong></p>\
                <p>Podcasts can be demonstrated and presented in mostly audio files. However, podcasts can develop in many formats including monologue, interview, conversation, non-narrated, ... For further information about this, visit this website and this short video. </p>\
                <p>Based on the topic you want to cover, choose the most suitable format to convey content effectively. </p>\
                </div>',
                percentage: '45',
                truePercent: '35'
            }

            var podcast3 = {
                step: '3',
                heading: 'Write a script',
                todos: '<div class="content"> \
                <p><strong>A. Preparing</strong></p>\
                <p>Podcasts generally fall into two categories: storytelling and interviewing. Even in the same topic, each category will have slightly different ways of developing content and writing scripts. Below are some suggestions for both types. </p>\
                <p>For a storytelling podcast: </p>\
                <ul> \
                <li> Find any flow problems in your script by reading it aloud. Use this as an opportunity to see if your script fits within your time constraints.</li>\
                <li> Have another person edit the script or consult your mentor. Seeking an outside view can assist in identifying story holes or other problems you might not have anticipated.</li>\
                </ul> \
                <p>For an interview podcast, consider creating an outline or set of questions in advance: </p> \
                <ul> \
                <li> Are you going to host one guest one or more? </li>\
                <li> Will this interview be conducted remotely, or are your guests present in the same room as you? </li>\
                <li> Before the interview, will you email the questions to your guests? Be aware that if you give your visitors the exact questions in advance, their responses may sound prepared, and the atmosphere may become less natural. </li>\
                <li> Consider providing a general outline of the interview for the guest. </li>\
                <li> Make sure your guests are aware that the recording will be edited. It can be polite to inform them if you have to eliminate any parts of the interview so that nobody is misrepresented or misunderstood. </li>\
                </ul> \
                <p><strong>B. Pen to paper</strong></p>\
                <p>Writing a script can be a lot like writing an essay. If you know strategies that work for you, try approaching this in a similar way. Components of a typical podcast structure: </p>\
                <ul> \
                <li> Teaser: Give a brief overview of the episode\'s topic to pique interest. </li>\
                <li> Intro: The opening theme tune that opens the episode </li>\
                <li> Main contents </li>\
                <li> Midroll: At times, it can be beneficial to pause a longer podcast. </li>\
                <li> Main contents </li>\
                <li> Outro: Wrap up the podcast session and using theme tune to end the podcast. </li>\
                </ul> \
                </div>',
                percentage: '65',
                truePercent: '20'
            }

            var podcast4 = {
                step: '4',
                heading: 'Recording and editing',
                todos: '<div class="content"> \
                <p>Be ready to record your podcast </p>\
                <p>Here are some software or application that may be useful for the whole process of recording and editing the podcast:</p>\
                <ul> \
                <li> GarageBand\
                <li> Audacity\
                <li> Adobe Audition\
                <li> Zoom (for recording remote interviews)\
                </ul> \
                <p>While recording, here are some tips or notes to make your podcast better: </p> \
                <ul> \
                <li> Find a smaller space than a larger one. Smaller spaces are less likely to have background noise or echoes. </li>\
                <li> Seek out a room with non-reflective materials and stay away from loud areas. </li>\
                <li> Do sound testing to make sure the equipment is operating properly and set up the qualified sound before you start recording. </li>\
                <li> Your mouth should be roughly 8 inches away from the microphone for optimal sound quality. Make sure you maintain the same distance during the entire recording. </li>\
                <li> Make a backup copy of your recording. </li>\
                <li> Prepare a drink to clear your voice if needed </li>\
                </ul> \
                <p>Utilizing Campus Spaces. The library has some suitable places for your podcast. Please check the library to make a room booking in advance.</p>\
                </div>',
                percentage: '85',
                truePercent: '20'
            }

            var podcast5 = {
                step: '5',
                heading: 'Reviewing and Finalizing',
                todos: '<div class="content"> \
                <p>Review your podcast, seek feedback from your peers or instructors and consider appropriate recommendations to improve your work.</p>\
                <p>Watch attentively to catch all of those little mistakes. There are some strategies for proofreading you should check.</p>\
                <p>For additional help, check out the VinUniversity library website for LibGuides about citation resources.</p>\
                </div>',
                percentage: '100',
                truePercent: '15'
            }
            
            // TEMPLATE for <steps>
            var Step = {
                props: ['stepobject'],

                computed: {
                    calcDueDate: function () {
                        // initialize dates.  must use suffix to include my timezone GMT-5
                        var ISOsuffix = 'T00:00:00.000-05:00';
                        var fromDateObject = new Date(vm.fromDate + ISOsuffix);
                        var toDateObject = new Date(vm.toDate + ISOsuffix);
                        var daysBetween = this.diffDays(fromDateObject, toDateObject);
                        var numDays = this.calcNumDays(daysBetween, this.stepobject.percentage);
                        var dueDate_String = this.nextDueDate(fromDateObject, numDays);
                        console.log(dueDate_String)
                        return dueDate_String;
                    },
                    collapseId: function() {
                        return 'collapse-' + this.stepobject.step; // Generates a unique ID using the step number
                    }
                },

                methods: {
                    // calculate number of days between both dates
                    diffDays: function (fromDate, toDate) {
                        var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
                        return Math.round(Math.abs((fromDate.getTime() - toDate.getTime()) / (oneDay)));
                    },

                    // will calculate number of days based off percentage.  This number will be used to add to fromDate to make dueDate
                    calcNumDays: function (diffDays, percentage) {
                        return (Math.floor(diffDays * percentage * 0.01)); // using floor to round down since it's an off by 1 (Nov 1 + 3 days = Nov 3?)
                    },

                    // input fromDate, and numberofDaysToAdd, will output duedate in string format.  This will be used to show when each step is due.
                    nextDueDate: function (fromDate, numDays) {
                        var ISOsuffix = 'T00:00:00.000-05:00';
                        var dueDate = new Date(vm.fromDate + ISOsuffix); // this will be a varying calculated value for each step
                        dueDate.setDate(fromDate.getDate() + numDays);
                        return dueDate.toDateString();
                    },
                },
                
                template: `<b-container class="steps">\
                <b-row>\
                    <b-col>\
                        <b-button block v-b-toggle="'collapse-' + stepobject.step" size="lg" class="m-1"><b>Step {{ stepobject.step }}: {{ stepobject.heading }}.</b> <span class="float-right">Finish by {{ calcDueDate }}</span></b-button>\
                        <b-collapse invisible :id="'collapse-' + stepobject.step">\
                            <b-card>\
                                <b-card-text>\
                                    <p><b> (Percent time spent on this step: {{ stepobject.truePercent}}%) </b></p>\
                                    <p v-html="stepobject.todos"> </p>\
                                </b-card-text>\
                                <!-- <b-button variant="outline-info">\
                                    <h5>Video: Taming your research topic <b-icon icon="hand-index"\
                                            aria-hidden="true"></b-icon>\
                                    </h5>\
                                </b-button>\ -->\
                            </b-card>\
                        </b-collapse>\
                    </b-col>\
                </b-row>\
            </b-container>`

            
            };

            var vm = new Vue({
                el: '#app',
                data: {
                    tempFromDate: '',
                    tempToDate: '',
                    fromDate: '',
                    toDate: '',
                    picked: '',
                    stepobject: '',  // will be determined in the HTML <steps v-bind...>
                    name: '',
                    show: false,
                    blank: '',
                    value: '',
                    context: null,
                    suffix : 'T00:00:00.000-05:00',
                    totalDays: 0,
                    assignmentName: '',
                    assignmentNameValid: null,
                    beginDateValid: null,
                    dueDateValid: null,
                    assignmentTypeValid : null,
                },
                mounted() {
                    this.fromDate = this.getToday();
                    this.toDate = this.getTodayNextMonth();
                    this.tempFromDate = this.getToday();
                    this.tempToDate = this.getTodayNextMonth();
                },
                
                computed: {
                    dueDateFeedback() {
                        if (this.toDate == '') {
                            return "Please enter a due date.";
                        }
                        if (this.toDate < this.fromDate) {
                            return "Due date must be later than the begin date.";
                        }
                        return null;
                    },
                },
                methods: {
                    getToday() {
                        const date = new Date();
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                        const day = String(date.getDate()).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    },
                    getTodayNextMonth() {
                        const date = new Date();
                        date.setDate(date.getDate() + 31);
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                        const day = String(date.getDate()).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    },
                    isDatescategory: function () {
                        // check to make sure both date fields are filled and in chronological order
                        if (this.fromDate !== '' && this.toDate !== '' && vm.toDate >= vm.fromDate) {
                            return true;
                        } else {
                            return false;
                        }
                    },
                    isAssignment: function(assignmentType) {
                        if (this.picked==assignmentType) {
                            return true;
                        } else {
                            return false;
                        }
                    },
                    calcTotalDays: function(){
                        if (this.fromDate !== '' && this.toDate !== '' && vm.toDate > vm.fromDate){
                            var fromDateObject = new Date(vm.fromDate + this.suffix);
                            var toDateObject = new Date(vm.toDate + this.suffix);
                            var oneDay = 24 * 60 * 60 * 1000;
                            return Math.round(Math.abs((fromDateObject.getTime() - toDateObject.getTime()) / (oneDay)));
                        }
                        else{
                            return 0;
                        }
                    },
                    sendEmail() {
                        var params = {
                            assignmentName: document.getElementById('assignmentName').value,
                            emailTo: document.getElementById('emailTo').value,
                        };

                        const serviceID = "service_5r78bbg";
                        const templateID = "template_ftc406h";

                        emailjs.send(serviceID, templateID, params).then(
                            (res) => {
                                document.getElementById('assignmentName').value = "";
                                document.getElementById('emailTo').value = "";
                                console.log(res);
                                alert("Email sent successfully");
                            })
                        .catch((err) => {
                            console.log(err);
                            alert("Error sending email");
                        })
                    },
                    pickAssignment(assignmentType) {
                        console.log('pick', assignmentType)
                        this.picked = assignmentType
                    },
                    validateAssignmentName() {
                        this.assignmentNameValid = this.assignmentName !== '';
                    },
                    toggle() {
                        console.log('Toggle button clicked')
                        this.fromDate = this.tempFromDate
                        this.toDate = this.tempToDate
                        if (this.fromDate > this.toDate) {
                            this.dueDateValid = false;
                        }
                        this.show = !this.show
                    },
                    dismissed() {
                        console.log('Alert dismissed')
                    },
                    onContext(ctx) {
                        this.context = ctx
                    }
                },

                components: {
                    'steps': Step
                }
            });


        </script>
</body>

</html>