<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Assignment Calculator</title>
    <meta name="description" content="Assignment Calculator">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.css">
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("z_LAKkqo4xiHbzP2_");
        })();
    </script>
</head>

<body>
    <div id="app">
        <a href="podcast.html">
            <img src="resource/US-icon.png" alt="Icon Description" alt="Top Right Icon" style="float: right; width: 2rem; height: 2rem;">
        </a>
        <b-jumbotron>
            <div class="row align-items-between justify-content-around">
                <!-- Logo on the left -->
                <div class="col-auto" style="width: 20rem; margin-bottom: 2rem;">
                    <img src="resource/vinuni_logo.webp" alt="VinUni Logo" style="width: max(10rem, min(20vw, 15rem));">
                </div>
        
                <div>
                    <div class="col text-center ml-auto">
                        <h2><span class="highlight1">Làm chủ</span> mọi bài tập của bạn với</h2>
                        <h1>Assignment Calculator</h1>
                        <h2>Từng bước chinh phục <span class="highlight1">điểm số</span> <span class="highlight1">A+</span></h2>
                    </div>
                </div>  
                <!-- <div class="col-auto" style="width: 20rem"></div> -->
            </div>
        </b-jumbotron>
              

        <div class="return-section">
            <a href="Assignment-planner-vi.html" style="color: white">
                ⬅ Quay lại trang trước
            </a>
        </div>
        <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-green dark-green mb5">
            <h2 class="fw2 f4 f3-ns lh-title mt0 mb3">
             PODCAST
            </h2>
  
            <p class="fw1 f5 mt0 mb3">
             Podcasting is an audio series covering a variety of themes, from academic talks to storytelling and interviews. Podcasting extends beyond the conventional written format. It allows podcast makers or students to go further into their chosen subjects using spoken word, improving their communication abilities and building a stronger bond with the listeners. Researching, writing, producing, and editing a piece of work not only sharpens academic skills but also fosters creativity and flexibility. Additionally, podcasts have a wider audience outside of the classroom, allowing podcast makers to meaningfully participate in public conversation and share their knowledge with a wider audience. 
            </p>
          </article> 
        <b-container class="bv-example-row">
            <b-row>
                <b-col>
                    <template>
                        <div class="form">
                            <b-form-group 
                                :state="beginDateValid"
                                invalid-feedback="Please enter a begin date."
                            >
                                <label for="example-datepicker">Ngày bắt đầu:</label>
                                <b-form-datepicker 
                                    id="begin-datepicker" 
                                    v-model="tempFromDate"
                                    locale="vi-VN"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col><template>
                        <div class="form">
                            <b-form-group
                                :state="dueDateValid"
                                :invalid-feedback="dueDateFeedback"
                            >
                                <label for="example-datepicker">Hạn nộp bài:</label>
                                <b-form-datepicker 
                                    id="due-datepicker" 
                                    v-model="tempToDate"
                                    locale="vi-VN"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col> 
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <b-button 
                            @click="toggle" 
                            block variant="primary" 
                            class="btn-primary"
                        >
                            Lên kế hoạch
                            <b-icon icon="arrow-down-circle-fill" aria-hidden="true"></b-icon>
                        </b-button>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <div class="form">  
                    <label>Lưu bài tập của bạn:</label>
                    <button onclick="window.print()">In ngay</button>
                </div>
            </b-row>
        </b-container>
        <template v-if="isDatescategory()">
            <div class="alert-container">
                <b-alert show dismissible fade>
                    Thành công! Bạn còn <span class="highlight1">{{ calcTotalDays() }} ngày</span> để hoàn thành bài tập.
                </b-alert>
            </div>
            <steps-vi v-bind:stepobject='podcastVi1'></steps-vi>
            <steps-vi v-bind:stepobject='podcastVi2'></steps-vi>
            <steps-vi v-bind:stepobject='podcastVi3'></steps-vi>
            <steps-vi v-bind:stepobject='podcastVi4'></steps-vi>
            <steps-vi v-bind:stepobject='podcastVi5'></steps-vi>
        </template> 
        <div id="to-print">
            <template v-if="isDatescategory()">
                <printing-steps-vi v-bind:stepobject='podcastVi1'></printing-steps-vi>
                <printing-steps-vi v-bind:stepobject='podcastVi2'></printing-steps-vi>
                <printing-steps-vi v-bind:stepobject='podcastVi3'></printing-steps-vi>
                <printing-steps-vi v-bind:stepobject='podcastVi4'></printing-steps-vi>
                <printing-steps-vi v-bind:stepobject='podcastVi5'></printing-steps-vi>
            </template> 
        </div>
        <a class="f6 link dim br-pill ba ph3 pv2 mb2 dib light-purple" href="#top">Quay lên đầu ^</a>
        <script src="//unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue-icons.js"></script>
        <script src="index.js"></script>
</body>

</html>