<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Assignment Calculator</title>
    <meta name="description" content="Assignment Calculator">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.css">
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("z_LAKkqo4xiHbzP2_");
        })();
    </script>
</head>

<body>
    <div id="app">
        <a href="policyBrief.html">
            <img src="resource/US-icon.png" alt="Icon Description" alt="Top Right Icon" style="float: right; width: 2rem; height: 2rem;">
        </a>
        <b-jumbotron>
            <div class="row align-items-between justify-content-around">
                <!-- Logo on the left -->
                <div class="col-auto" style="width: 20rem; margin-bottom: 2rem;">
                    <img src="resource/vinuni_logo.webp" alt="VinUni Logo" style="width: max(10rem, min(20vw, 15rem));">
                </div>
        
                <div>
                    <div class="col text-center ml-auto">
                        <h2><span class="highlight1">Làm chủ</span> mọi bài tập của bạn với</h2>
                        <h1>Assignment Calculator</h1>
                        <h2>Từng bước chinh phục <span class="highlight1">điểm số</span> <span class="highlight1">A+</span></h2>
                    </div>
                </div>  
                <!-- <div class="col-auto" style="width: 20rem"></div> -->
            </div>
        </b-jumbotron>
              

        <div class="section">
            <a href="Assignment-planner-vi.html" style="color: white">
                ⬅ Quay lại trang trước
            </a>
        </div>
        <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-green dark-green mb5">
            <h2 class="fw2 f4 f3-ns lh-title mt0 mb3">
             POLICY BRIEF
            </h2>
  
            <p class="fw1 f5 mt0 mb3">
             A policy brief is a concise document addressing a specific issue, offering a synthesis of research on the context, causes, stakeholders, and consequences of a situation or problem. Its primary purpose is to aid decision-makers and policymakers by presenting policy alternatives and suggestions. Policy briefs can have varied objectives; some advocate for a single policy option, while others propose multiple alternatives for consideration. It's important to ensure your approach aligns with the requirements of your assignment.
             Regarding length and style:
             A typical policy brief spans 4-6 pages and adopts a professional tone rather than an academic one, focusing on clear, jargon-free explanations.
             As for the target audience:
             Policy briefs are typically intended for readers in fields such as education, environment, politics, public health, or social work who are policymakers with a vested interest in the issue but may not possess an in-depth understanding of the subject matter. They seek the writer's insights and evidence-based recommendations.
            </p>
          </article> 
        <b-container class="bv-example-row">
            <b-row>
                <b-col>
                    <template>
                        <div class="form">
                            <b-form-group 
                                :state="beginDateValid"
                                invalid-feedback="Please enter a begin date."
                            >
                                <label for="example-datepicker">Ngày bắt đầu:</label>
                                <b-form-datepicker 
                                    id="begin-datepicker" 
                                    v-model="tempFromDate"
                                    locale="vi-VN"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col><template>
                        <div class="form">
                            <b-form-group
                                :state="dueDateValid"
                                :invalid-feedback="dueDateFeedback"
                            >
                                <label for="example-datepicker">Hạn nộp bài:</label>
                                <b-form-datepicker 
                                    id="due-datepicker" 
                                    v-model="tempToDate"
                                    locale="vi-VN"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col> 
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <b-button 
                            @click="toggle" 
                            block variant="primary" 
                            class="btn-primary"
                        >
                            Lên kế hoạch
                            <b-icon icon="arrow-down-circle-fill" aria-hidden="true"></b-icon>
                        </b-button>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <div class="alert-container">
            <b-alert show dismissible fade>
                Thành công! Bạn còn <span class="highlight1">{{ calcTotalDays() }} ngày</span> để hoàn thành bài tập.
            </b-alert>
        </div>
        <template v-if="isDatescategory()">
            <steps v-bind:stepobject='policyBrief1'></steps>
            <steps v-bind:stepobject='policyBrief2'></steps>
            <steps v-bind:stepobject='policyBrief3'></steps>
            <steps v-bind:stepobject='policyBrief4'></steps>
            <steps v-bind:stepobject='policyBrief5'></steps>
            <a class="f6 link dim br-pill ba ph3 pv2 mb2 dib light-purple" href="#top">Quay lên đầu ^</a>
        </template> 

        <script src="//unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue-icons.js"></script>
        <script>
            // STEPS CONTENT IN JSON OBJECT FORMAT
            var policyBrief1 = {
                step: '1',
                heading: 'Get started',
                todos: '<div class="content"> \
                <p><strong>A. Understand Your Assignment</strong></p> \
                <p>Ensure a comprehensive understanding of your assignment by discerning its specific requirements. Meticulously read the assignment instructions to discern the intended purpose, target audience, scope, format, and length.</p> \
                <p>It\'s important to note that policy briefs can manifest in diverse forms. To gather ideas and inspiration, consider exploring sample policy briefs from various organizations.</p> \
                <p><strong>B. Familiarize Yourself with the Subject Matter</strong></p> \
                <p>In some instances, you may receive a designated topic and problem, while in others, you might have the freedom to select your own. Irrespective of the scenario, it\'s imperative to engage in preliminary reading about the subject and issue at hand.</p> \
                <p>Employing the classic journalistic interrogatives (who, what, where, when, why) can serve as a guide to pinpointing the focal points of your policy brief, facilitating your research and analysis.</p> \
                </div>',
                percentage: '10',
                truePercent: '10'
            };

            var policyBrief2 = {
                step: '2',
                heading: 'Research your policy issue',
                todos: '<div class="content"> \
                <p><strong>A. Develop Your Research Strategy</strong></p> \
                <ol> \
                <li>List the terms and concepts linked to your policy issue.</li> \
                <li>Identify the core concepts among them, which will be the keywords you use when searching library catalogs and databases to uncover pertinent books, journal articles, and various reports.</li> \
                </ol> \
                <p><strong>B. Locate and Assess Your Sources</strong></p> \
                <p>Ensure the sources you select are both pertinent and current. It\'s crucial to incorporate academically reputable sources, such as peer-reviewed books and journal articles, along with materials like government publications, documents from policy institutes (think tanks), and content that conveys the perspectives of individuals or groups affected by the issue, particularly those marginalized or mistreated in some manner.</p> \
                <p>Remember that not all sources possess equal relevance or accurately represent the subject matter.</p> \
                <p><strong>C. Choose and Systematize Your Discoveries</strong></p> \
                <p>Accumulate your research findings and maintain a meticulous record of your sources throughout the process.</p> \
                </div>',
                percentage: '45',
                truePercent: '35'
            };

            var policyBrief3 = {
                step: '3',
                heading: 'Begin to organize your brief',
                todos: '<div class="content"> \
                <p>Utilize your policy brief outline (from Step 1B) to populate the sections of your policy brief with preliminary ideas, which can be in point form. It\'s worth noting that, although the executive summary traditionally comes at the beginning, it may be more practical to tackle it towards the end of the process.</p> \
                <p><strong>A. Identifying Your Audience</strong></p> \
                <ul> \
                <li>Who is your target audience and who do you need to persuade? (This will impact your tone and evidence presentation.)</li> \
                <li>Define the informed but non-specialist readers of your brief.</li> \
                <li>Predict how these readers perceive the issue and discuss it.</li> \
                <li>What key message do you aim to convey that will resonate with them? Summarize this in two sentences to maintain focus.</li> \
                </ul> \
                <p><strong>B. Problem Statement</strong></p> \
                <ul> \
                <li>Define the problem\'s scope and magnitude.</li> \
                <li>What evidence can you provide to illustrate its significance, urgency, or scale?</li> \
                <li>Identify the facts, graphs, images, quotes, statistics, or maps that can support your arguments.</li> \
                </ul> \
                <p><strong>C. Stakeholders</strong></p> \
                <ul> \
                <li>Enumerate all stakeholders and describe how the issue affects them.</li> \
                <li>Consider the varied perspectives, especially those of marginalized or smaller communities and underrepresented voices, which may differ from government officials or corporate leaders. Include these perspectives if pertinent to the issue and your recommendations.</li> \
                </ul> \
                <p><strong>D. Policy Options</strong></p> \
                <ul> \
                <li>Determine if you will present multiple options with a recommendation or just a single option.</li> \
                <li>Prepare arguments and evidence to substantiate your case.</li> \
                <li>Clarify how the option(s) will impact various stakeholders.</li> \
                </ul> \
                <p><strong>E. Recommendations</strong></p> \
                <ul> \
                <li>Specify the necessary actions or measures and the responsible parties for instigating change.</li> \
                <li>Decide if you will conclude with a call to action, which might be placed in the conclusion section if applicable.</li> \
                </ul> \
                <p><strong>F. Sources Consulted</strong></p> \
                <ul> \
                <li>Confirm the inclusion of a list of credible references supporting your points.</li> \
                <li>Ensure that these references encompass a range of perspectives.</li> \
                </ul> \
                <p><strong>G. Executive Summary</strong></p> \
                <ul> \
                <li>Review if the executive summary captures key aspects of the rationale and problem.</li> \
                <li>Evaluate whether the summary effectively entices readers to delve deeper into the brief.</li> \
                </ul> \
                </div>',
                percentage: '65',
                truePercent: '20'
            };

            var policyBrief4 = {
                step: '4',
                heading: 'Write the first draft',
                todos: '<div class="content"> \
                <p>It\'s time to start writing! When you\'re working on your first draft, your primary aim is to get your ideas onto paper. Don\'t worry if your thoughts aren\'t fully developed at this stage. Release the desire for perfection and write swiftly. You can refine and revise your work later on.</p> \
                </div>',
                percentage: '85',
                truePercent: '20'
            };

            var policyBrief5 = {
                step: '5',
                heading: 'Revise and proofread',
                todos: '<div class="content"> \
                <p><strong>A. Assess Your First Draft and Perform Additional Research as Necessary</strong></p> \
                <ul> \
                <li>Examine your initial draft to identify any gaps or areas where your arguments lack sufficient evidence.</li> \
                <li>If you identify deficiencies, conduct further research to bolster your arguments.</li> \
                </ul> \
                <p><strong>B. Revise Your Draft</strong></p> \
                <ul> \
                <li>Print out a hard copy of your brief and work from it.</li> \
                <li>Thoroughly read through your document, initially focusing on higher-order issues like organization, structure, evidence, and analysis.</li> \
                </ul> \
                <p><strong>C. Evaluate Your Second Draft and Make Revisions</strong></p> \
                <ul> \
                <li>Refine your revision process by concentrating on paragraph-level matters, such as sentence flow and transitions.</li> \
                </ul> \
                <p><strong>D. Proofread the Final Version of Your Brief</strong></p> \
                <ul> \
                <li>In this final step, carefully review your work to catch minor errors. Utilize effective proofreading techniques.</li> \
                <li>Ensure your brief adheres to the style guide recommended in your assignment or by your instructor. Pay attention to details like titles, margins, and page numbers. Confirm whether a cover sheet is necessary.</li> \
                <li>Your list of sources should encompass key references used in crafting your brief. Adhere to the citation style guide specified in your assignment or by your instructor.</li> \
                <li>Consider using reference management software such as RefWorks and Write-N-Cite to help manage your citations as you write. These tools are valuable for building your bibliography.</li> \
                </ul> \
                </div>',
                percentage: '100',
                truePercent: '15'
            };
            // TEMPLATE for <steps>
            var Step = {
                props: ['stepobject'],

                computed: {

                    calcDueDate: function () {
                        // initialize dates.  must use suffix to include my timezone GMT-5
                        var ISOsuffix = 'T00:00:00.000-05:00';
                        var fromDateObject = new Date(vm.fromDate + ISOsuffix);
                        var toDateObject = new Date(vm.toDate + ISOsuffix);
                        var daysBetween = this.diffDays(fromDateObject, toDateObject);
                        var numDays = this.calcNumDays(daysBetween, this.stepobject.percentage);
                        var dueDate = this.nextDueDate(fromDateObject, numDays);

                        // Format date to Vietnamese locale
                        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                        var formatter = new Intl.DateTimeFormat('vi-VN', options);
                        return formatter.format(new Date(dueDate));

                        return dueDate_String;
                    },
                    collapseId: function() {
                        return 'collapse-' + this.stepobject.step; // Generates a unique ID using the step number
                    }
                },

                methods: {
                    // calculate number of days between both dates
                    diffDays: function (fromDate, toDate) {
                        var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
                        return Math.round(Math.abs((fromDate.getTime() - toDate.getTime()) / (oneDay)));
                    },

                    // will calculate number of days based off percentage.  This number will be used to add to fromDate to make dueDate
                    calcNumDays: function (diffDays, percentage) {
                        return (Math.floor(diffDays * percentage * 0.01)); // using floor to round down since it's an off by 1 (Nov 1 + 3 days = Nov 3?)
                    },

                    // input fromDate, and numberofDaysToAdd, will output duedate in string format.  This will be used to show when each step is due.
                    nextDueDate: function (fromDate, numDays) {
                        var ISOsuffix = 'T00:00:00.000-05:00';
                        var dueDate = new Date(vm.fromDate + ISOsuffix); // this will be a varying calculated value for each step
                        dueDate.setDate(fromDate.getDate() + numDays);
                        return dueDate.toDateString();
                    },
                },
                
                template: `<b-container class="steps">\
                <b-row>\
                    <b-col>\
                        <b-button block v-b-toggle="'collapse-' + stepobject.step" size="lg" class="m-1"><b>Bước {{ stepobject.step }}: {{ stepobject.heading }}.</b> <span class="float-right">Hoàn thành vào {{ calcDueDate }}</span></b-button>\
                        <b-collapse invisible :id="'collapse-' + stepobject.step">\
                            <b-card>\
                                <b-card-text>\
                                    <p><b> (Phần trăm thời gian cho bước này: {{ stepobject.truePercent}}%) </b></p>\
                                    <p v-html="stepobject.todos"> </p>\
                                </b-card-text>\
                                <!-- <b-button variant="outline-info">\
                                    <h5>Video: Taming your research topic <b-icon icon="hand-index"\
                                            aria-hidden="true"></b-icon>\
                                    </h5>\
                                </b-button>\ -->\
                            </b-card>\
                        </b-collapse>\
                    </b-col>\
                </b-row>\
            </b-container>`

            
            };

            var vm = new Vue({
                el: '#app',
                data: {
                    tempFromDate: '',
                    tempToDate: '',
                    fromDate: '',
                    toDate: '',
                    picked: '',
                    stepobject: '',  // will be determined in the HTML <steps v-bind...>
                    name: '',
                    show: false,
                    blank: '',
                    value: '',
                    context: null,
                    suffix : 'T00:00:00.000-05:00',
                    totalDays: 0,
                    assignmentName: '',
                    assignmentNameValid: null,
                    beginDateValid: null,
                    dueDateValid: null,
                    assignmentTypeValid : null,
                },
                mounted() {
                    this.fromDate = this.getToday();
                    this.toDate = this.getTodayNextMonth();
                    this.tempFromDate = this.getToday();
                    this.tempToDate = this.getTodayNextMonth();
                },
                
                computed: {
                    dueDateFeedback() {
                        if (this.toDate == '') {
                            return "Làm ơn chọn hạn nộp bài.";
                        }
                        if (this.toDate <= this.fromDate) {
                            return "Hạn nộp bài phải trễ hơn ngày bắt đầu.";
                        }
                        return null;
                    },
                },
                methods: {
                    getToday() {
                        const date = new Date();
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                        const day = String(date.getDate()).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    },
                    getTodayNextMonth() {
                        const date = new Date();
                        date.setDate(date.getDate() + 31);
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                        const day = String(date.getDate()).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    },
                    isDatescategory: function () {
                        // check to make sure both date fields are filled and in chronological order
                        if (this.fromDate !== '' && this.toDate !== '' && vm.toDate >= vm.fromDate) {
                            return true;
                        } else {
                            return false;
                        }
                    },
                    isAssignment: function(assignmentType) {
                        if (this.picked==assignmentType) {
                            return true;
                        } else {
                            return false;
                        }
                    },
                    calcTotalDays: function(){
                        if (this.fromDate !== '' && this.toDate !== '' && vm.toDate > vm.fromDate){
                            var fromDateObject = new Date(vm.fromDate + this.suffix);
                            var toDateObject = new Date(vm.toDate + this.suffix);
                            var oneDay = 24 * 60 * 60 * 1000;
                            return Math.round(Math.abs((fromDateObject.getTime() - toDateObject.getTime()) / (oneDay)));
                        }
                        else{
                            return 0;
                        }
                    },
                    sendEmail() {
                        var params = {
                            assignmentName: document.getElementById('assignmentName').value,
                            emailTo: document.getElementById('emailTo').value,
                        };

                        const serviceID = "service_5r78bbg";
                        const templateID = "template_ftc406h";

                        emailjs.send(serviceID, templateID, params).then(
                            (res) => {
                                document.getElementById('assignmentName').value = "";
                                document.getElementById('emailTo').value = "";
                                console.log(res);
                                alert("Email sent successfully");
                            })
                        .catch((err) => {
                            console.log(err);
                            alert("Error sending email");
                        })
                    },
                    pickAssignment(assignmentType) {
                        console.log('pick', assignmentType)
                        this.picked = assignmentType
                    },
                    validateAssignmentName() {
                        this.assignmentNameValid = this.assignmentName !== '';
                    },
                    toggle() {
                        console.log('Toggle button clicked')
                        this.fromDate = this.tempFromDate
                        this.toDate = this.tempToDate
                        if (this.fromDate > this.toDate) {
                            this.dueDateValid = false;
                        }
                        this.show = !this.show
                    },
                    dismissed() {
                        console.log('Alert dismissed')
                    },
                    onContext(ctx) {
                        this.context = ctx
                    }
                },

                components: {
                    'steps': Step
                }
            });


        </script>
</body>

</html>