<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Assignment Calculator</title>
    <meta name="description" content="Assignment Calculator">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.css">
    <style>
        body {
            text-align: center;
            font-family: 'Montserrat';
        }

        .highlight1 {
            color: red;
            white-space: nowrap;
        }

        h1 {
            font-size: 4rem;
            font-family: 'Titan One';
            margin-bottom: 2rem;
            color: rgb(61, 81, 131);
        }

        .section {
            background: rgb(61, 81, 131);
            font-size: 1rem;
            color: white;
            padding: 20px;
            margin: 0 0 3rem;
            text-align: left;
        }

        .form {
            text-align: left;

            >.form-group label {
                font-size: 1.1rem;
            }
        }

        .content {
            text-align: left;
        }

        div.card {
            .card-body {
                text-align: center;
                padding: 1.25rem;
            }

            >img {
                width: 80%;
                margin: 20px auto 0;
            }
        }

        .btn-primary {
            font-size: 1.5rem;
            font-weight: 600;
            width: 400px;
            margin: 20px 20px;
            padding: 15px;
        }

        .jumbotron {
            margin-bottom: 0;
        }

        .card-deck {
            >button {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                padding: 1rem 2rem;
                border-radius: 1rem;
                margin: 0.5rem;
                width: 11%;
                min-width: 100px;

                >img {
                    width: 100px;
                }

                >h5 {
                    margin: 0.5rem 0 0;
                    font-weight: bold;
                    font-size: 0.8rem;
                }
            }
        }

        .alert-info {
            background-color: rgb(218, 236, 220);
            font-size: 1.2rem;
        }

        .alert-container {
            display: flex;
            justify-content: center; /* Centers the alert horizontally */
            align-items: center; /* Centers the alert vertically, if needed */
            text-align: center; /* Centers the text within the alert */
        }

        .steps {
            margin-bottom: 10px;
            .container {
                margin-bottom: 10px;
            }
            >.row {
                .col>button {
                    background-color: rgb(61, 81, 131);
                    text-align: left;
                }
            }
        }

        .container {
            margin-bottom: 10px;
        }
        .bv-example-row {
            max-width: 1440px;
            .input-button-group {
                display: flex; /* This will enable flexbox */
                align-items: center; /* This will vertically center align the items */
                gap: 10px; /* This adds space between the input and the buttons */
            }
        }
    </style>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("z_LAKkqo4xiHbzP2_");
        })();
    </script>
</head>

<body>
    <div id="app">
        <a href="researchEssay.html">
            <img src="https://i.pinimg.com/736x/98/9b/9c/989b9c38c26172c25bd2dca461340deb.jpg" alt="Icon Description" alt="Top Right Icon" style="float: right; width: 40px; height: 40px;">
        </a>
        <b-jumbotron>
            <div class="row align-items-center justify-content-center">
                <!-- Logo on the left -->
                <div class="col-auto" style="width: 20rem">
                    <img src="resource/vinuni_logo.webp" alt="VinUni Logo" style="height: 100px; width: 300px; height: 180px;">
                </div>
        
                <div style="margin-left: 10rem;">
                    <!-- Text in the center -->
                    <div class="col text-center ml-auto" style="padding-left: 0;">
                        <h2><span class="highlight1">Làm chủ</span> mọi bài tập của bạn với</h2>
                        <h1>Assignment Calculator</h1>
                        <h2>Từng bước chinh phục <span class="highlight1">điểm số</span> <span class="highlight1">A+</span></h2>
                    </div>
                </div>  
                <!-- <div class="col-auto" style="width: 20rem"></div> -->
            </div>
        </b-jumbotron>
              

        <div class="section">
            <a href="Assignment-planner-vi.html" style="color: white">
                ⬅ Quay lại trang trước
            </a>
        </div>
        <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-green dark-green mb5">
            <h2 class="fw2 f4 f3-ns lh-title mt0 mb3">
                BÀI NGHIÊN CỨU
            </h2>
  
            <p class="fw1 f5 mt0 mb3">
                Giới thiệu: Mục tiêu của một bài nghiên cứu là thu thập các quan điểm, dữ liệu liên quan và các thông tin đã được kiểm chứng về một chủ đề từ sách, báo và các cuộc phỏng vấn, sau đó được trình bày dưới dạng văn bản. Văn bản ấy là sự tương tác giữa người viết, độc giả và các tác giả khác. Thông qua các bài nghiên cứu, các học giả và nhà nghiên cứu sẽ công bố/trình bày những khám phá và tiến bộ trong các lĩnh vực nghiên cứu của họ.                     
                Để bài nghiên cứu được hoàn thành theo một cấu trúc rõ ràng, súc tích là cả một thử thách. Nó bao gồm các quá trình như điều tra, tư duy logic, đánh giá nguồn thông tin, sắp xếp lại và viết. Các quá trình này không đi theo thứ tự mà tác giả phải xem xét đi xem xét lại các phần trong suốt quá trình viết bài nghiên cứu.
            </p>
        </article> 
        <b-container class="bv-example-row">
            <b-row>
                <b-col>
                    <template>
                        <div class="form">
                            <b-form-group 
                                :state="beginDateValid"
                                invalid-feedback="Please enter a begin date."
                            >
                                <label for="example-datepicker">Ngày bắt đầu:</label>
                                <b-form-datepicker 
                                    id="begin-datepicker" 
                                    v-model="tempFromDate"
                                    locale="vi-VN"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col><template>
                        <div class="form">
                            <b-form-group
                                :state="dueDateValid"
                                :invalid-feedback="dueDateFeedback"
                            >
                                <label for="example-datepicker">Hạn nộp bài:</label>
                                <b-form-datepicker 
                                    id="due-datepicker" 
                                    v-model="tempToDate"
                                    locale="vi-VN"
                                    class="mb-2"></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </template>
                </b-col>
                <b-col> 
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <b-button 
                            @click="toggle" 
                            block variant="primary" 
                            class="btn-primary"
                        >
                            Lên kế hoạch
                            <b-icon icon="arrow-down-circle-fill" aria-hidden="true"></b-icon>
                        </b-button>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <div class="alert-container">
            <b-alert show dismissible fade>
                Thành công! Bạn còn <span class="highlight1">{{ calcTotalDays() }} ngày</span> để hoàn thành bài tập.
            </b-alert>
        </div>
        <template v-if="isDatescategory()">
            <steps v-bind:stepobject='researchEssays1'></steps>
            <steps v-bind:stepobject='researchEssays2'></steps>
            <steps v-bind:stepobject='researchEssays3'></steps>
            <steps v-bind:stepobject='researchEssays4'></steps>
            <steps v-bind:stepobject='researchEssays5'></steps>
            <a class="f6 link dim br-pill ba ph3 pv2 mb2 dib light-purple" href="#top">Quay lên đầu ^</a>
        </template> 

        <script src="//unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@2.23.0/dist/bootstrap-vue-icons.js"></script>
        <script>
            // STEPS CONTENT IN JSON OBJECT FORMAT
            var researchEssays1 = {
                step: '1',
                heading: 'Khởi động',
                truePercent: '10',
                todos: '<div class="content"> \
                <p><strong>A. Hiểu yêu cầu/đề bài/nhiệm vụ cần làm: </strong></p> \
                <p>Hãy dành thời gian đọc kỹ hướng dẫn và đảm bảo bạn hiểu tất cả các yêu cầu, bao gồm chủ đề, hình thức, độ dài và thời hạn cần hoàn thành, v.v. Đừng ngần ngại hỏi các thầy cô nếu bạn cần làm rõ điều gì. Để sắp xếp thời gian một cách hiệu quả, hãy chia bài tập thành các các phần nhỏ hơn tương ứng với kế hoạch bạn lập sẵn.</p> \
                \
                <p><strong>B. Bước đầu nghiên cứu:</strong> </p> \
                <p>Đây là giai đoạn nền tảng và mang tính định hướng cho bài nghiên cứu của bạn, bao gồm các bước sau: </p> \
                <ul> \
                    <li> Chọn một chủ đề nghiên cứu mà bạn quan tâm và đáp ứng các yêu cầu của đề bài.</li> \
                    <li> Nghiên cứu sơ bộ để tổng hợp dữ liệu cơ bản và đánh giá xem các nguồn tin chính thống có thể truy cập được hay không.</li> \
                </ul> \
                \
                <p><strong>C.Thu hẹp chủ đề:</strong></p> \
                <p>Bạn cần đánh giá tầm quan trọng, tính khả thi và mức độ liên quan của từng chủ đề. Không chỉ vậy bạn cần chọn chủ đề phù hợp với phạm vi bài tập, mục tiêu nghiên cứu và nó phải có khả năng để cho bạn đào sâu tìm hiểu. Bạn cân nhắc sử dụng các câu hỏi như ai, cái gì, ở đâu, khi nào, tại sao. Hãy tìm kiếm lời khuyên từ thầy cô nếu cần. </p> \
                \
                <p><strong>D. Đặt câu hỏi nghiên cứu</strong></p> \
                <p>Khi một vấn đề đã được xác định, hãy phát triển nó thành một câu hỏi nghiên cứu. Câu hỏi nghiên cứu của bạn cần phải rõ ràng, đơn giản và có khả năng trả lời được. Ngoài ra, nó phải phù hợp và liên quan đến lĩnh vực nghiên cứu, cũng như có khả năng mở rộng lĩnh vực nghiên cứu. </p> \
            </div>',
                percentage: '10',
                truePercent: '10'
            };


            var researchEssays2 = {
                step: '2',
                heading: 'Nghiên cứu',
                todos: '<div class="content"> \
                <p><strong>A. Lập chiến lược nghiên cứu:</strong></p> \
                <p>Tùy thuộc vào mục tiêu nghiên cứu của bạn, hãy chọn phương pháp nghiên cứu phù hợp, cho dù đó là phương pháp định tính, định lượng hay hỗn hợp. Hãy vạch ra kế hoạch để thu thập dữ liệu, tổng hợp các nguồn thông tin hiện có, công cụ và quy trình bạn sẽ áp dụng.</p> \
                \
                <p><strong>B. Tìm và đánh giá các nguồn tin:</strong></p> \
                <p>Sử dụng các công cụ tìm kiếm đáng tin cậy, các cơ sở dữ liệu học thuật và thư viện để tìm các nguồn tài liệu phù hợp với đề tài nghiên cứu. Khi đánh giá các nguồn tài liệu, bạn cần xem xét thông tin của tác giả, độ uy tín của nguồn và ngày xuất bản tài liệu. Các cuốn sách từ các nhà xuất bản đáng tin cậy, các tài liệu/văn bản pháp lý từ chính phủ và các tạp chí được bình duyệt thường là các nguồn tài liệu đáng tin cậy. Hãy xem xét cẩn thận phương pháp tiếp cận với chủ đề và dữ liệu liên quan để đánh giá chất lượng và tính phù hợp của nó với đề tài nghiên cứu của bạn. Bạn có thể tạo một bài nghiên cứu với những bằng chứng xác thực và toàn diện bằng cách so sánh dữ liệu từ nhiều nguồn và đánh giá khách quan về chúng.</p> \
                \
                <p><strong>C. Tiến hành nghiên cứu: </strong></p> \
                <p>Khi bạn bắt đầu nghiên cứu, hãy thu thập dữ liệu và đảm bảo rằng bạn làm nổi bật những chi tiết quan trọng, ghi lại những suy nghĩ cá nhân và cẩn thận sắp xếp chúng để tiện theo dõi sau này.</p> \
            </div>',
                percentage: '45',
                truePercent: '35'
            };

            var researchEssays3 = {
                step: '3',
                heading: 'Lập dàn ý',
                todos: '<div class="content">  \
                <p><strong>A. Lên ý tưởng</strong></p> \
                <p>Khi xây dựng những quan điểm và lập luận của riêng mình bạn hãy sử dụng các nguồn mình đã tự thu thập được. Lưu ý rằng trong suốt quá trình này bạn cần sử dụng tư duy logic của mình để hợp lý hóa những thông tin bạn chọn.</p> \
                \
                <p><strong>B.Xây dựng luận điểm:</strong></p> \
                <p>Bạn hãy nhớ rằng một luận điểm vững chắc sẽ hình thành cơ sở cho bài luận nghiên cứu và định hướng nghiên cứu. Luận điểm của bạn nên là một câu ngắn gọn, tóm tắt ý chính của bài luận và bày tỏ ý kiến của bạn về chủ đề này. Hãy chắc chắn rằng luận điểm của bạn vừa cụ thể vừa có tính phản biện. Nó không nên chỉ là một tuyên bố thực tế; thay vào đó, nó phải là một tuyên bố có thể khuyến khích sự tranh luận và phân tích.</p> \
                \
                <p><strong>C. Lập dàn ý chi tiết: </strong></p> \
                <p>Chia bài viết của bạn thành các đoạn văn, mỗi đoạn văn cần có câu chủ đề và được củng cố bằng những luận điểm nhỏ hơn. Dàn ý này không chỉ phục vụ như một lộ trình rõ ràng cho bài viết mà còn đảm bảo rằng những nội dung bạn viết ra có sự liên kết chặt chẽ, mạch lạc.</p> \
            </div>',
                percentage: '60',
                truePercent: '15'
            };

            var researchEssays4 = {
                step: '4',
                heading: 'Viết bản nháp đầu tiên',
                todos: '<div class="content">\
                <p>Trong bản nháp đầu tiên, hãy viết những suy nghĩ của bạn thành những câu chữ mà không cần lo lắng quá nhiều về độ chính xác của chúng. Điều bạn cần lưu ý duy nhất ở đây là tính logic từ đầu đến cuối bài luận của bạn. </p> </div>',
                percentage: '80',
                truePercent: '20'
            };

            var researchEssays5 = {
                step: '5',
                heading: 'Rà soát lại những gì bạn đã viết ',
                todos: '<div class="content">\
                <p><strong>Đánh giá bản viết nháp của bạn và tiến hành nghiên cứu bổ sung khi cần thiết. Khi kiểm tra lại bài bạn cần để ý đến mạch bài viết của mình đã rõ ràng và logic chưa? Không chỉ như vậy bạn cần xem cách sử dụng từng từ hay ngữ pháp, dấu câu đã sử dụng đúng chưa?</strong></p> \
                <p>Nếu cần, hãy viết lại thêm vài bản nháp nữa để bài viết của bạn trở nên hoàn chỉnh hơn.</p> \
                \
                <p><strong>B. Chỉnh sửa bản thảo của bạn </strong></p> \
                <p>Xem lại cách tổ chức bài viết để đảm bảo rằng các ý tưởng được sắp xếp rõ ràng và mạch lạc. Đảm bảo rằng mỗi đoạn đều hỗ trợ cho lập luận cốt lõi của bạn. Hãy chú ý đến ngữ pháp, dấu câu và chính tả để cải thiện bài viết một cách tổng thể.</p> \
                \
                <p><strong>C. Đánh giá bản thảo thứ hai của bạn và viết lại nếu cần </strong></p> \
                <p>Xây dựng luận điểm. Tập trung vào các vấn đề liên quan đến đoạn văn, chẳng hạn như logic, phân tích, quy trình viết và liên kết các đoạn văn. </p> \
                \
                <p><strong>D. Hiệu chỉnh và đưa bài viết của bạn vào định dạng cuối cùng </strong></p> \
                <p>Hãy đọc kỹ để nắm bắt hết những lỗi nhỏ nhất. Dành thời gian để đảm bảo bài viết của bạn tuân theo các quy tắc được nêu trong hướng dẫn về văn phong phù hợp. Ghi nhớ số trang, tiêu đề, lề, danh sách tài liệu tham khảo và trích dẫn. Để được trợ giúp thêm, hãy xem trang web thư viện VinUniversity đọc các LibGuides để có thêm các thông liên quan đến trích dẫn.</p> \
            </div>',
                percentage: '100',
                truePercent: '20'
            };
            // TEMPLATE for <steps>
            var Step = {
                props: ['stepobject'],

                computed: {

                    calcDueDate: function () {
                        // initialize dates.  must use suffix to include my timezone GMT-5
                        var ISOsuffix = 'T00:00:00.000-05:00';
                        var fromDateObject = new Date(vm.fromDate + ISOsuffix);
                        var toDateObject = new Date(vm.toDate + ISOsuffix);
                        var daysBetween = this.diffDays(fromDateObject, toDateObject);
                        var numDays = this.calcNumDays(daysBetween, this.stepobject.percentage);
                        var dueDate = this.nextDueDate(fromDateObject, numDays);

                        // Format date to Vietnamese locale
                        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                        var formatter = new Intl.DateTimeFormat('vi-VN', options);
                        return formatter.format(new Date(dueDate));

                        return dueDate_String;
                    },
                    collapseId: function() {
                        return 'collapse-' + this.stepobject.step; // Generates a unique ID using the step number
                    }
                },

                methods: {
                    // calculate number of days between both dates
                    diffDays: function (fromDate, toDate) {
                        var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
                        return Math.round(Math.abs((fromDate.getTime() - toDate.getTime()) / (oneDay)));
                    },

                    // will calculate number of days based off percentage.  This number will be used to add to fromDate to make dueDate
                    calcNumDays: function (diffDays, percentage) {
                        return (Math.floor(diffDays * percentage * 0.01)); // using floor to round down since it's an off by 1 (Nov 1 + 3 days = Nov 3?)
                    },

                    // input fromDate, and numberofDaysToAdd, will output duedate in string format.  This will be used to show when each step is due.
                    nextDueDate: function (fromDate, numDays) {
                        var ISOsuffix = 'T00:00:00.000-05:00';
                        var dueDate = new Date(vm.fromDate + ISOsuffix); // this will be a varying calculated value for each step
                        dueDate.setDate(fromDate.getDate() + numDays);
                        return dueDate.toDateString();
                    },
                },
                
                template: `<b-container class="steps">\
                <b-row>\
                    <b-col>\
                        <b-button block v-b-toggle="'collapse-' + stepobject.step" size="lg" class="m-1"><b>Bước {{ stepobject.step }}: {{ stepobject.heading }}.</b> <span class="float-right">Hoàn thành vào {{ calcDueDate }}</span></b-button>\
                        <b-collapse invisible :id="'collapse-' + stepobject.step">\
                            <b-card>\
                                <b-card-text>\
                                    <p><b> (Phần trăm thời gian cho bước này: {{ stepobject.truePercent}}%) </b></p>\
                                    <p v-html="stepobject.todos"> </p>\
                                </b-card-text>\
                                <!-- <b-button variant="outline-info">\
                                    <h5>Video: Taming your research topic <b-icon icon="hand-index"\
                                            aria-hidden="true"></b-icon>\
                                    </h5>\
                                </b-button>\ -->\
                            </b-card>\
                        </b-collapse>\
                    </b-col>\
                </b-row>\
            </b-container>`

            
            };

            var vm = new Vue({
                el: '#app',
                data: {
                    tempFromDate: '',
                    tempToDate: '',
                    fromDate: '',
                    toDate: '',
                    picked: '',
                    stepobject: '',  // will be determined in the HTML <steps v-bind...>
                    name: '',
                    show: false,
                    blank: '',
                    value: '',
                    context: null,
                    suffix : 'T00:00:00.000-05:00',
                    totalDays: 0,
                    assignmentName: '',
                    assignmentNameValid: null,
                    beginDateValid: null,
                    dueDateValid: null,
                    assignmentTypeValid : null,
                },
                mounted() {
                    this.fromDate = this.getToday();
                    this.toDate = this.getTodayNextMonth();
                    this.tempFromDate = this.getToday();
                    this.tempToDate = this.getTodayNextMonth();
                },
                
                computed: {
                    dueDateFeedback() {
                        if (this.toDate == '') {
                            return "Làm ơn chọn hạn nộp bài.";
                        }
                        if (this.toDate <= this.fromDate) {
                            return "Hạn nộp bài phải trễ hơn ngày bắt đầu.";
                        }
                        return null;
                    },
                },
                methods: {
                    getToday() {
                        const date = new Date();
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                        const day = String(date.getDate()).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    },
                    getTodayNextMonth() {
                        const date = new Date();
                        date.setDate(date.getDate() + 31);
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                        const day = String(date.getDate()).padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    },
                    isDatescategory: function () {
                        // check to make sure both date fields are filled and in chronological order
                        if (this.fromDate !== '' && this.toDate !== '' && vm.toDate >= vm.fromDate) {
                            return true;
                        } else {
                            return false;
                        }
                    },
                    isAssignment: function(assignmentType) {
                        if (this.picked==assignmentType) {
                            return true;
                        } else {
                            return false;
                        }
                    },
                    calcTotalDays: function(){
                        if (this.fromDate !== '' && this.toDate !== '' && vm.toDate > vm.fromDate){
                            var fromDateObject = new Date(vm.fromDate + this.suffix);
                            var toDateObject = new Date(vm.toDate + this.suffix);
                            var oneDay = 24 * 60 * 60 * 1000;
                            return Math.round(Math.abs((fromDateObject.getTime() - toDateObject.getTime()) / (oneDay)));
                        }
                        else{
                            return 0;
                        }
                    },
                    sendEmail() {
                        var params = {
                            assignmentName: document.getElementById('assignmentName').value,
                            emailTo: document.getElementById('emailTo').value,
                        };

                        const serviceID = "service_5r78bbg";
                        const templateID = "template_ftc406h";

                        emailjs.send(serviceID, templateID, params).then(
                            (res) => {
                                document.getElementById('assignmentName').value = "";
                                document.getElementById('emailTo').value = "";
                                console.log(res);
                                alert("Email sent successfully");
                            })
                        .catch((err) => {
                            console.log(err);
                            alert("Error sending email");
                        })
                    },
                    pickAssignment(assignmentType) {
                        console.log('pick', assignmentType)
                        this.picked = assignmentType
                    },
                    validateAssignmentName() {
                        this.assignmentNameValid = this.assignmentName !== '';
                    },
                    toggle() {
                        console.log('Toggle button clicked')
                        this.fromDate = this.tempFromDate
                        this.toDate = this.tempToDate
                        if (this.fromDate > this.toDate) {
                            this.dueDateValid = false;
                        }
                        this.show = !this.show
                    },
                    dismissed() {
                        console.log('Alert dismissed')
                    },
                    onContext(ctx) {
                        this.context = ctx
                    }
                },

                components: {
                    'steps': Step
                }
            });


        </script>
</body>

</html>